$main-padding: 8px;

mat-toolbar {
  padding-inline: 6px;
  position: fixed;
  height: var(--mat-toolbar-mobile-height);
  top: 0;
  left: 0;
  right: 0;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 101; // table sticky headers are 100
}

.spacer {
  flex: 1 1 auto;
}

.title {
  padding-left: 8px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

div.under-toolbar {
  height: var(--mat-toolbar-mobile-height);
}

div.main-content {
  height: calc(100% - var(--mat-toolbar-mobile-height));
  overflow-y: auto;
  div.main-content-padding {
    padding-top: $main-padding;
  }
}

div.flex-menu-option {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  * {
    padding: 8px;
  }
}

.block {
  display: block;
}

.sidenav {
  max-width: 80vw;
  display: block;
}

mat-divider {
  margin-top: 4px;
  margin-bottom: 4px;
}

.bottom-options {
  display: block;
  position: absolute;
  bottom: 0;
  width: calc(100% - 16px);
}

.nav-container {
  height: 100dvh;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

mat-icon.rotate {
  animation: spinner 2s linear infinite;
}

.toolbar-padding {
  margin-inline: auto;
}
